@import url("../../node_modules/bootstrap/scss/bootstrap.scss");
@font-face {
  font-family: "Archivo";
  src: url("../../fonts/Archivo-SemiBold.woff2") format("woff2"), url("../../fonts/Archivo-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "ArchivoItalic";
  src: url("../../fonts/Archivo-SemiBoldItalic.woff2") format("woff2"), url("../../fonts/Archivo-SemiBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Libre Franklin";
  src: url("../../fonts/LibreFranklin-Thin.woff2") format("woff2"), url("../../fonts/LibreFranklin-Thin.woff") format("woff");
}
@font-face {
  font-family: "Libre Franklin Italic";
  src: url("../../fonts/LibreFranklin-ThinItalic.woff2") format("woff2"), url("../../fonts/LibreFranklin-ThinItalic.woff") format("woff");
}
#menu-header-menu {
  display: flex;
}
#menu-header-menu li {
  text-decoration: none;
  list-style: none;
  margin-left: 1rem;
}

footer {
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #ffadd6;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Archivo", sans-serif;
  margin-top: auto;
}

.post-container {
  margin-bottom: 2rem;
}
.post-container .post-item {
  padding: 20px;
}
.post-container .post-item .post-content .post-description {
  margin-bottom: 1.5rem;
}
.post-container .post-item .post-image img {
  width: 100%;
  height: auto;
}

.header-banner1 {
  color: #ffffff;
  background: #cd8cf4;
  padding: 0.25rem;
  text-align: center;
}

.header-banner2 {
  color: #ffffff;
  background: #cd8cf4;
  padding: 0.25rem;
  text-align: center;
}

header {
  margin-top: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  margin-inline: auto;
}

button, a.button {
  background-color: #ffadd6;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

body h1, body h2, body h3, body h4, body h5, body h6, main h1, main h2, main h3, main h4, main h5, main h6 {
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #000000;
  margin: 1rem 0;
}
body p, body li, body span, main p, main li, main span {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  color: #000000;
  margin: 0.5rem 0;
}
body a, main a {
  text-decoration: none;
  color: #3c10b4;
}

.hero-banner figure img {
  width: 100%;
}