.header-banner1 {
    color: $color-white;
    background: $color2;
    padding: .25rem;
    text-align: center;
}

.header-banner2 {
    color: $color-white;
    background: $color2;
    padding: .25rem;
    text-align: center;
}

header {
    margin-top: 1rem;
}