.post-container{
  margin-bottom: 2rem;
  margin-top: 2rem;
  .post-item {
  background: $color3;
  border-radius: .785rem;
  padding: 30px;
    .post-content {
      .post-description {
        margin-bottom: 1.5rem;
      }
      .button {
        padding: 0.5rem!important;
        background: $color4!important;

        &:hover {
          background: $color2!important;
        }
      }
    }
    .post-image {
      img {
        width: 100%;
        height: auto;
        max-height: 300px;
        border-radius: .785rem;
        object-fit: cover;
      }
    }
  }
}
