.post-container{
  margin-bottom: 2rem;
  .post-item {
  background: $color3;
  border-radius: .785rem;
  padding: 30px;
    .post-content {
      .post-description {
        margin-bottom: 1.5rem;
      }
    }
    .post-image {
      img {
        width: 100%;
        height: auto;
        max-height: 300px;
      }
    }
}
}
