.post-container{
  margin-bottom: 2rem;
  margin-top: 2rem;
  .post-item {
  background: $color3;
  border-radius: .785rem;
  padding: 30px;
    .post-content {
      .post-description {
        margin-bottom: 1.5rem;
      }
      .button {
        padding: 0.5rem!important;
        background: $color4!important;

        &:hover {
          background: $color2!important;
        }
      }
    }
    .post-image {
      position: relative;

      &:hover {
        .gallery-image {
          opacity: 1;
        }
        .main-image {
          opacity: 0;
        }

      }

      img {
        width: 100%;
        height: 275px;
        max-height: 300px;
        border-radius: .785rem;
        object-fit: cover;
      }

      .gallery-image {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
}
