.swiper {
  width: 100%;
  height: auto;
  .swiper-slide {
    width: auto;
    height: auto;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .swiper-button-next, .swiper-button-prev {
    &::after {
      color: $color1!important;
    }
  }
}
