.swiper {
  width: 100%;
  height: auto;
  .swiper-slide {
    width: auto;
    height: auto;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .swiper-button-next, .swiper-button-prev {
    &::after {
      color: $color5!important;
    }
  }
}

.swiper .swiper-slide.slide3 img {
  height: 728.64px;
}