
ul.products {
  .product {
    background: $color3!important;
    border-radius: .785rem!important;
    padding: 30px!important;
    .woocommerce-LoopProduct-link {
      img {
        border-radius: .785rem30px!important;
      }
    }
  }
}

.woocommerce-notices-wrapper {
  .woocommerce-message {
    background: $color3!important;
    border-radius: .785rem!important;
    .button.wc-forward {
      background: $color1!important;
      color: $color-white!important;
      border: none!important;
      padding: 0.5rem 1rem!important;
      border-radius: 5px!important;
      cursor: pointer!important;

      &:hover {
        background: $color2!important;
      }
    }
  }
}

.single_add_to_cart_button {
  background: $color2!important;
  color: $color-white!important;
}

section.related.products {
  display: inline-block!important;
}
