
ul.products {
  .product {
    background: $color3!important;
    border-radius: .785rem!important;
    padding: 30px!important;
    .woocommerce-LoopProduct-link {
      img {
        border-radius: .785rem30px!important;
      }
    }
  }
}

.woocommerce-notices-wrapper {
  .woocommerce-message {
    background: $color3!important;
    border-radius: .785rem!important;
    .button.wc-forward {
      background: $color1!important;
      color: $color-white!important;
      border: none!important;
      border-radius: 5px!important;
      cursor: pointer!important;

      &:hover {
        background: $color2!important;
      }
    }
  }
}

.single_add_to_cart_button {
  background: $color2!important;
  color: $color-white!important;
}

section.related.products {
  display: inline-block!important;
}

.add_to_cart_button, .button.product_type_simple {
  background: $color4!important;
  color: $color-white!important;
  border: none!important;
  border-radius: 5px!important;
  cursor: pointer!important;

  &:hover {
    background: $color2!important;
  }
}

#cart-nav-item {
  position: relative;
  span.cart-count {
    position: absolute;
    top: -15px;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; // Adjust as needed
    height: 30px; // Adjust as needed
    background: $color1!important;
    color: $color-white!important;
    border-radius: 50%!important;
    padding: 5px!important;
  }
}
