@import "variables";
@import "menu";
@import "post-item";
@import "header";
@import "wc-shop";
@import "wc-checkout";
@import "swiper";
@import "footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-white;
  margin-inline: auto;
  // max-width: 1200px;
  // @media screen and (max-width: 1199px) {
  //   max-width: 992px;
  // }

  // @media screen and (max-width: 991px) {
  //   max-width: 768px;
  // }

  // @media screen and (max-width: 767px) {
  //   max-width: 576px;
  // }

  // @media screen and (max-width: 575px) {
  //   max-width: 100%;
  // }
}

button, a.button {
  background-color: $color1;
  color: $color-white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}


body, main {
  h1, h2, h3, h4, h5, h6{
    font-family: $font-archivo;
    font-weight: bold;
    font-size: $h1-size;;
    color: $color-black;
    margin: 1rem 0;
  }

  p, li {
    font-family: $font-libre;
    color: $color-black;
    margin: 0.5rem 0;
  }

  a {
    text-decoration: none;
    color: #585858;
  }
}

.hero-banner {
    .hero-post-image {
      position: relative;

      &:hover {
        .gallery-image {
          opacity: 1;
        }
        .main-image {
          opacity: 0;
        }

      }

      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
      }

      .gallery-image {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
    }
  video {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
}

.main-body {
  margin-bottom: 1rem;
}

.aws-container {
  margin: 1rem 0;
}

.aws_result_item .aws_search_more {
  display: none;
}
