@import "variables";
@import "menu";
@import "post-item";
@import "header";
@import "wc-shop";
@import "wc-checkout";
@import "swiper";
@import "footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-white;
  margin-inline: auto;
  // max-width: 1200px;
  // @media screen and (max-width: 1199px) {
  //   max-width: 992px;
  // }

  // @media screen and (max-width: 991px) {
  //   max-width: 768px;
  // }

  // @media screen and (max-width: 767px) {
  //   max-width: 576px;
  // }

  // @media screen and (max-width: 575px) {
  //   max-width: 100%;
  // }
}

button, a.button {
  background-color: $color1;
  color: $color-white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}


body, main {
  h1, h2, h3, h4, h5, h6{
    font-family: $font-archivo;
    font-weight: bold;
    font-size: $h1-size;;
    color: $color-black;
    margin: 1rem 0;
  }

  p, li {
    font-family: $font-libre;
    color: $color-black;
    margin: 0.5rem 0;
  }

  a {
    text-decoration: none;
    color: #585858;
  }
}

.hero-banner {
  figure {
    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }
  video {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
}

.main-body {
  margin-bottom: 1rem;
}
